mat-icon {
  padding-top: 2px;
}
.info {
  display: flex;
  align-items: center;
}
.info-dates {
  flex: 2;
}
.info-text, .info-delete {
  flex: 1.4;
}
p.list-empty {
  margin-top: 60px;
}
.overview {
  margin-top: 3em;
}