<div class="container" *ngIf="{ course: course$ | async, homework: homework$ | async} as info">
  <ng-container *ngIf="info.course && info.homework">
    <app-page>
      <app-navigation [navigationData]="navigationData$ | async"></app-navigation>
      <h1>{{ info.homework.title }}</h1>
      <div class="info">
        <div class="info-dates">
          <p>
            Published: <b>{{ info.homework.publicationDate.toLocaleString() }}</b><br />
            Due: <b>{{ info.homework.dueDate.toLocaleString() }}</b>
          </p>
        </div>
        <div class="info-text">
          <a [routerLink]="[]" [queryParams]="{ show: 'text' }"><mat-icon>assignment</mat-icon> Read the assignment text</a>
        </div>
        <div class="info-delete">
          <a (click)="deleteHomeworkAssignment()"><mat-icon>delete_forever</mat-icon> Delete homework assignment</a>
        </div>
      </div>
      <div class="overview">
        <app-selectable-table [selectable]="false" [clickable]="true" [rowLink]="homeworkHistoryLink" [dataSource]="homeworkOverviewDataSource" [columns]="homeworkOverviewColumns"></app-selectable-table>
        <p *ngIf="homeworkOverviewDataSource.size == 0" class="empty">No students enrolled in this course.</p>
      </div>
    </app-page>
  </ng-container>
</div>
<ng-template #loading>
  <app-data-placeholder></app-data-placeholder>
</ng-template>