h1 span {
  font-weight: normal;
}
p.empty {
  margin-top: 60px;
  color: #777;
  text-align: center;
  font-style: italic;
  letter-spacing: 1px;
}
td .profile-pic {
  margin-top: 2px;
  width: 26px;
  height: 26px;
}
.controls button:not(:first-child) {
  margin-left: 30px;
}