<div class="container" *ngIf="course$ | async as course; else loading">
  <app-page>
    <app-navigation [navigationData]="navigationData"></app-navigation>
    <h1>{{ course.name }} <span class="bar"></span><span>Students</span></h1>
    <div *ngIf="enrolledStudents$ | async as enrolledStudents">
      <app-student-table *ngIf="enrolledStudents.length" [students]="enrolledStudents" (select)="selectedStudentsChanged($event)"></app-student-table>
      <p *ngIf="!enrolledStudents.length" class="empty">No students enrolled in this course.</p>
    </div>
    <div class="controls">
      <button mat-flat-button *ngIf="!selectedEnrolledStudents.size" color="brand" (click)="showSearch = true">Enroll student</button>
      <button mat-flat-button *ngIf="!selectedEnrolledStudents.size" color="primary" (click)="csvButtonClicked()">Enroll from CSV</button>
      <button mat-flat-button *ngIf="selectedEnrolledStudents.size" color="danger" (click)="unenrollSelectedButtonClicked()">Unenroll selected ({{ selectedEnrolledStudents.size }})</button>
    </div>
    <input type="file" ng2FileSelect hidden #fileInput />
  </app-page>
  <app-fullscreen-search [class.hide]="!showSearch" [matches]="studentMatches" (search)="searchChanged($event)" (selectResult)="searchResultSelected($event)" (close)="searchCloseButtonClicked()">
  </app-fullscreen-search>
</div>
<ng-template #loading>
  <app-data-placeholder></app-data-placeholder>
</ng-template>