<div class="container" *ngIf="course$ | async as course; else loading">
  <app-page>
    <app-navigation [navigationData]="navigationData"></app-navigation>
    <h1>{{ course.name }} <span class="bar"></span><span>Students</span></h1>
    <div class="controls">
      <button mat-flat-button color="brand" (click)="showSearch = true">Enroll student</button>
      <button mat-flat-button color="primary" (click)="csvButtonClicked()">Enroll from CSV</button>
    </div>
    <input type="file" ng2FileSelect hidden #fileInput />
  </app-page>
  <app-fullscreen-search [class.hide]="!showSearch" [matches]="studentMatches" (search)="searchChanged($event)" (select)="searchResultSelected($event)" (close)="searchCloseButtonClicked()">
  </app-fullscreen-search>
</div>
<ng-template #loading>
  <app-data-placeholder></app-data-placeholder>
</ng-template>