<div class="container">
  <div class="search-bar">
    <div class="search">
      <mat-icon class="search">search</mat-icon>
      <div class="input">
        <input matInput spellcheck="false" autocomplete="off" (input)="searchInputChanged($event.target.value)" #searchRef>
      </div>
      <mat-icon class="close" (click)="closeButtonClicked()">clear</mat-icon>
    </div>
    <div class="results">
      <div *ngFor="let match of searchMatches" class="result" (click)="matchItemSelected(match.id)">
        <div class="profile-pic"><app-secure-image [user]="match"></app-secure-image></div>
        <div>
          <span>{{ match.firstName }}</span>&nbsp;
          <span><b>{{ match.lastName.toUpperCase() }}</b></span>&nbsp;
          <span class="light">({{ match.username }})</span></div>
      </div>
    </div>
  </div>
</div>