<div class="container" *ngIf="{ course: course$ | async, homework: homework$ | async, student: student$ | async} as info">
  <ng-container *ngIf="info.course && info.homework && info.student">
    <app-page>
      <app-navigation [navigationData]="navigationData$ | async"></app-navigation>
      <h1>{{ info.homework.title }} <span class="bar"></span><span>{{ info.student.firstName + ' ' + info.student.lastName }}</span></h1>
      <div class="info">
        <div class="info-dates">
          <p>
            Published: <b>{{ info.homework.publicationDate.toLocaleString() }}</b><br />
            Due: <b>{{ info.homework.dueDate.toLocaleString() }}</b>
          </p>
        </div>
        <div class="info-text">
          <a [routerLink]="[]" [queryParams]="{ show: 'text' }"><mat-icon>assignment</mat-icon> Read the assignment text</a>
        </div>
      </div>
      <div class="history" *ngIf="homeworkActions$ | async as homeworkActions">
        <app-timeline>
          <div class="action" *ngFor="let action of homeworkActions; let first = first">
            <div class="block-container" [class.left]="action.actionType == ActionType.READ || action.actionType == ActionType.DELIVERY" [class.right]="action.actionType == ActionType.NULL || action.actionType == ActionType.REVIEW">
              <div class="block" *ngIf="action.actionType == ActionType.NULL">
                <h4><mat-icon>backup</mat-icon> You published the homework assignment</h4>
                <span>The assignment is expected to be completed in {{ Math.floor((info.homework.dueDate.getTime() - info.homework.publicationDate.getTime()) / (24*60*60*1000)) }} days</span>
              </div>
              <div class="block" *ngIf="action.actionType == ActionType.READ">
                <h4><mat-icon>menu_book</mat-icon> Assignment text downloaded</h4>
              </div>
              <div class="block" *ngIf="action.actionType == ActionType.DELIVERY">
                <h4><mat-icon>how_to_vote</mat-icon> Homework solution submitted</h4>
                <div class="resource-container" [routerLink]="[]" [queryParams]="{ action: action.id }" *ngIf="action.resource$ | async as resource">
                  <img class="resource" [src]="resource" />
                </div>
                <span *ngIf="first">Carefully go through the assignment solution, and whenever you feel ready you can <a [routerLink]="[]" [queryParams]="{ review: action.id }">upload a review</a></span>
              </div>
              <div class="block" *ngIf="action.actionType == ActionType.REVIEW && !action.mark">
                <h4><mat-icon>verified</mat-icon> You reviewed the assignment solution</h4>
                <div class="resource-container" [routerLink]="[]" [queryParams]="{ action: action.id }" *ngIf="action.resource$ | async as resource">
                  <img class="resource" [src]="resource" />
                </div>
              </div>
              <div class="block" *ngIf="action.actionType == ActionType.REVIEW && action.mark">
                <h4><mat-icon>assignment_turned_in</mat-icon> You evaluated the assignment solution</h4>
                <div class="resource-container" [routerLink]="[]" [queryParams]="{ action: action.id }" *ngIf="action.resource$ | async as resource">
                  <img class="resource" [src]="resource" />
                </div>
                <div class="mark-container">
                  <span class="label">final mark</span>
                  <span class="mark">{{ action.mark }}</span>
                </div>
              </div>
              <div class="time-dot"></div>
              <span class="timestamp">{{ action.date.toLocaleString() }}</span>
            </div>
          </div>
        </app-timeline>
      </div>
      <input type="file" ng2FileSelect hidden accept="image/*" #fileUpload />
    </app-page>
  </ng-container>
</div>
<ng-template #loading>
  <app-data-placeholder></app-data-placeholder>
</ng-template>