.headers {
  display: flex;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 40px;
}
.h-i {
  flex: 0.5;
}
.h-title {
  flex: 2;
}
.h-published, .h-due {
  flex: 1;
}
.old {
  display: flex;
  margin: 20px 0;
  opacity: 0.7;
  align-items: center;
}
.old div {
  flex: 1;
}
.old span {
  text-transform: uppercase;
  padding: 0 10px;
}