<div class="homework-list">
  <div *ngIf="homeworkList && homeworkList.length">
    <div class="headers">
      <span class="header h-i"></span>
      <span class="header h-title">title</span>
      <span class="header h-published">published</span>
      <span class="header h-due">due</span>
    </div>
    <div *ngFor="let homework of activeHomeworkList" class="homework">
      <app-homework-item [data]="homework"></app-homework-item>
    </div>
    <div *ngIf="pastHomeworkList.length && !showOnlyActive">
      <div class="old">
        <div><hr /></div>
        <span>past assignments</span>
        <div><hr /></div>
      </div>      
      <div *ngFor="let homework of pastHomeworkList" class="homework">
        <app-homework-item [data]="homework"></app-homework-item>
      </div>
    </div>
  </div>
  <p *ngIf="homeworkList && !homeworkList.length && !showOnlyActive" class="list-empty">No homeworks to show.</p>
  <p *ngIf="homeworkList && !homeworkList.length && showOnlyActive" class="list-empty">There are no active homeworks.</p>
</div>