<div class="container" *ngIf="course$ | async as course; else loading">
  <app-page>
    <app-navigation [navigationData]="navigationData"></app-navigation>
    <h1>{{ course.name }} <span class="bar"></span><span>Homeworks</span></h1>
    <div class="controls">
      <button mat-flat-button color="brand" [routerLink]="'/professor/course/' + course.code + '/homeworks/new'">New assignment</button>
    </div>
  </app-page>
</div>
<ng-template #loading>
  <app-data-placeholder></app-data-placeholder>
</ng-template>