<div class="container" *ngIf="course$ | async as course; else loading">
  <app-page>
    <app-navigation [navigationData]="navigationData$ | async"></app-navigation>
    <h1>{{ course.name }} <span class="bar"></span><span>Students</span></h1>
    <div>
      <app-selectable-table [dataSource]="enrolledStudentsDataSource" (select)="selectedStudentsChanged($event)" [columns]="enrolledStudentColumns"></app-selectable-table>
      <p *ngIf="enrolledStudentsDataSource.size == 0" class="empty">No students enrolled in this course.</p>
    </div>
    <div class="controls">
      <ng-container *ngIf="selectedEnrolledStudents != 'all'">
        <button mat-flat-button *ngIf="!selectedEnrolledStudents.size" color="brand" (click)="showSearch = true">Enroll student</button>
        <button mat-flat-button *ngIf="!selectedEnrolledStudents.size" color="primary" (click)="csvButtonClicked()">Enroll from CSV</button>
        <button mat-flat-button *ngIf="selectedEnrolledStudents.size" color="danger" (click)="unenrollSelectedButtonClicked()">Unenroll selected ({{ selectedEnrolledStudents.size }})</button>
      </ng-container>
      <ng-container *ngIf="selectedEnrolledStudents == 'all'">
        <button mat-flat-button color="danger" (click)="unenrollSelectedButtonClicked()">Unenroll all ({{ enrolledStudentsDataSource.size }})</button>
      </ng-container>
    </div>
    <input type="file" ng2FileSelect hidden accept=".csv" (change)="csvFileSelected($event.target.files[0])" #fileInput />
  </app-page>
  <app-fullscreen-search [class.hidden]="!showSearch" [focus]="showSearch" [matches]="studentMatches" (search)="searchChanged($event)" (selectResult)="searchResultSelected($event)" (close)="searchCloseButtonClicked()">
  </app-fullscreen-search>
</div>
<ng-template #loading>
  <app-data-placeholder></app-data-placeholder>
</ng-template>