span {
  display: block;
}
.item {
  display: flex;
  padding: 20px 40px;
  border: 1px solid #eee;
  border-radius: 6px;
}
.col-name {
  flex: 1;
}
.col-members {
  flex: 1.4;
}
.col-expiration {
  flex: 0.5;
}
.col-actions {
  flex: 0.3;
}
.header {
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: bold;
  letter-spacing: 1px;
}
.col-members .members {
  margin-top: 14px;
}
.col-actions mat-icon {
  cursor: pointer;
  margin: 0 5px;
}
.col-actions mat-icon.accept {
  color: #ff6647;
  margin: 0 5px 0 0;
  padding-top: 0;
  vertical-align: bottom;
}
.member {
  display: flex;
  margin: 6px 0;
}
.member mat-icon {
  margin-right: 4px;
  padding-top: 3px;
  font-size: 1em;
}
.plain-members, .plain-members span {
  display: inline;
}
.action {
  cursor: pointer;
  text-align: center;
  font-size: 0.8em;
}
.action.accept span {
  display: inline;
}
.action.decline {
  margin-top: 10px;
  font-size: 0.75em;
}
.action:hover span {
  text-decoration: underline;
}
.status {
  font-size: 0.8em;
}