<div class="container">
  <form [formGroup]="form">
    <mat-error>{{ getFormErrorMessage() }}</mat-error>
    <mat-error class="error-box">{{ getFormSubmissionErrorMessage() }}</mat-error>
    <div class="input-container">
      <mat-form-field class="fraction third first" appearance="legacy">
        <mat-label>Code</mat-label>
        <input matInput placeholder="02JGROV" formControlName="code" required>
        <mat-error>{{ getCodeErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field class="fraction third" appearance="legacy">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Applicazioni Internet" formControlName="name" required>
        <mat-error>{{ getNameErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field class="fraction third" appearance="legacy">
        <mat-label>Acronym</mat-label>
        <input matInput placeholder="AI" formControlName="acronym" required>
        <mat-error>{{ getAcronymErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field class="fraction third first" appearance="legacy">
        <mat-label>Minimum team members</mat-label>
        <input matInput placeholder="3" formControlName="minTeamMembers" required>
        <mat-error>{{ getMinTeamMembersErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field class="fraction third" appearance="legacy">
        <mat-label>Maximum team members</mat-label>
        <input matInput placeholder="6" formControlName="maxTeamMembers" required>
        <mat-error>{{ getMaxTeamMembersErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-slide-toggle [disabled]="locked">Enabled</mat-slide-toggle>
    </div>
    <div class="actions">
      <button mat-flat-button [routerLink]="cancelButtonLink">Cancel</button>
      <app-async-button (click)="saveButtonClicked()" [loading]="locked">Save</app-async-button>
    </div>
  </form>
</div>