<div class="container">
  <app-page>
    <div *ngIf="vmId | zeroPad as vmName">
      <app-navigation [navigationData]="navigationData?.concat({ name: 'VM-' + vmName })"></app-navigation>
      <div>
        <table class="info main">
          <tr>
            <td>Team</td>
            <td>???</td>
          </tr>
          <tr>
            <td>People connected to this VM</td>
            <td>
              <i>You</i>
            </td>
          </tr>
        </table>
      </div>
      <div class="vm-screen"></div>
    </div>
  </app-page>
</div>
<ng-template #loading>
  <app-data-placeholder></app-data-placeholder>
</ng-template>