.head {
  display: flex;
  align-items: center;
  margin-top: -1em;
}
.title {
  flex: 1;
}
.status {
  height: 36px;
}
.status mat-icon {
  padding-top: 3px;
  font-size: 1.1em;
}
table.info {
  width: 100%;
  font-size: 0.9em;
}
table.info td {
  padding-bottom: 0.5em;
}
table.info td:first-child {
  width: 25%;
}
.professor {
  margin-right: 20px;
}
.sep {
  display: inline-block;
  width: 40px;
}