<div class="container" *ngIf="course$ | async as course; else loading">
  <app-page>
    <app-navigation [navigationData]="navigationData"></app-navigation>
    <div class="head">
      <div class="title">
        <h1>
          {{ course.code + ' - ' + course.name }}&nbsp;
          <a><mat-icon [routerLink]="'/professor/course/' + course.code + '/edit'">edit</mat-icon></a>
        </h1>
      </div>
      <div class="status">
        <app-async-button (aclick)="statusButtonClicked()" [loading]="updatingStatus" color="basic">
          <span *ngIf="courseEnabled"><mat-icon>visibility</mat-icon> enabled</span>
          <span *ngIf="!courseEnabled"><mat-icon>visibility_off</mat-icon> disabled</span>
        </app-async-button>
      </div>
    </div>
    <table class="info main">
      <tr>
        <td>Professors</td>
        <td>
          <div class="professor-list" *ngIf="professors$ | async as professors">
            <div *ngFor="let professor of professors" class="professor">
              <app-user-tag [firstName]="professor.firstName" [lastName]="professor.lastName.toUpperCase()" [user]="professor"></app-user-tag>
            </div>
            <button mat-flat-button color="primary" (click)="addCollaboratorButtonClicked()">Add collaborator</button>
          </div>
        </td>
      </tr>
    </table>
    <div class="flex flex-tile">
      <div class="fl-1">
        <ng-container *ngIf="studentsPreview$ | async as studentsPreview">
          <app-tile [text]="'Students (' + studentsPreview.count + ')'" [textLink]="'/professor/course/' + course.code + '/students'" icon="supervisor_account">
            <span class="tile-desc">Browse students of the course. Enroll and unenroll students.</span>
          </app-tile>
        </ng-container>
      </div>
      <div class="fl-1">
        <app-tile text="Teams" [textLink]="'/professor/course/' + course.code + '/teams'" icon="account_tree">
          <span class="tile-desc">Check out how students organized themselves in teams.</span>
        </app-tile>
      </div>
    </div>
    <div *ngIf="homeworks$ | async as homeworks">
      <app-tile [text]="'Homeworks (' + homeworks.length + ' active)'" [textLink]="'/professor/course/' + courseCode + '/homeworks'" icon="perm_media">
        <app-homework-list [homeworks]="homeworks" [onlyActive]="true"></app-homework-list>
      </app-tile>
    </div>
    <app-tile text="VMs" [textLink]="'/professor/course/' + course.code + '/vms'" icon="dns">
      <div *ngIf="vmModel$ | async as vmModel">
        <span>VM model: </span>
        <span *ngIf="vmModel.id != null" class="bold-text">{{ vmModel.name }}</span>
        <span *ngIf="vmModel.id == null" class="light-text">not specified <mat-icon class="align danger">warning</mat-icon></span>
        <span class="sep"></span>
        <a (click)="vmModelLinkClicked()">{{ vmModel.id != null ? 'Edit' : 'Add' }}</a>
      </div>
    </app-tile>
    <app-tile text="Actions" icon="amp_stories">
      <div class="actions">
        <button mat-flat-button color="primary" [routerLink]="'/professor/course/' + course.code + '/edit'">Edit course</button>
        <button mat-flat-button color="danger" (click)="deleteButtonClicked()">Delete course</button>
      </div>
    </app-tile>
  </app-page>
  <app-fullscreen-search [class.hidden]="!showSearch" [focus]="showSearch" [matches]="professorMatches" (search)="searchChanged($event)" (selectResult)="searchResultSelected($event)" (close)="searchCloseButtonClicked()">
  </app-fullscreen-search>
</div>
<ng-template #loading>
  <app-data-placeholder></app-data-placeholder>
</ng-template>