.head {
  display: flex;
  align-items: center;
  margin-top: -1em;
}
.title {
  flex: 1;
}
.title mat-icon {
  cursor: pointer;
  margin-left: 10px;
  color: #ff6647;
  font-size: 0.7em;
  line-height: 1.65em;
  outline: none;
}
.status {
  height: 36px;
}
.status mat-icon {
  padding-top: 3px;
  font-size: 1.1em;
}
.student {
  display: inline-block;
  margin-left: 30px;
}
.sep {
  display: inline-block;
  width: 40px;
}
.actions button {
  margin: 0 15px;
}