.head {
  display: flex;
  align-items: center;
  margin-top: -1em;
}
.title {
  flex: 1;
}
table.info {
  width: 100%;
  font-size: 0.9em;
}
table.info td {
  padding-bottom: 0.5em;
}
table.info td:first-child {
  width: 25%;
}
.sep {
  display: inline-block;
  width: 40px;
}