<div class="container" *ngIf="course$ | async as course; else loading">
  <app-page>
    <app-navigation [navigationData]="navigationData"></app-navigation>
    <div class="head">
      <div class="title">
        <h1>{{ course.code + ' - ' + course.name }} <a><mat-icon [routerLink]="'/professor/course/' + course.code + '/edit'">edit</mat-icon></a></h1>
      </div>
      <div class="status">
        <app-async-button (click)="statusButtonClicked()" [loading]="updatingStatus" color="basic">
          <span *ngIf="course.enabled"><mat-icon>visibility</mat-icon> enabled</span>
          <span *ngIf="!course.enabled"><mat-icon>visibility_off</mat-icon> disabled</span>
        </app-async-button>
      </div>
    </div>
    <table class="info">
      <tr>
        <td>Professors</td>
        <td>
          <div *ngFor="let professor of professors$ | async" class="professor">
            <div class="professor-info">
              <div class="profile-pic"><img src="assets/img/user.png" /></div>
              <div><span><b>{{ professor.lastName.toUpperCase() }}</b></span><span> {{ professor.firstName }}</span></div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Students enrolled</td>
        <td><b>???</b></td>
      </tr>
      <tr>
        <td>Team size constraints</td>
        <td><i>min&emsp;</i><b>{{ course.minTeamMembers }}</b><span class="sep"></span><i>max&emsp;</i><b>{{ course.maxTeamMembers }}</b></td>
      </tr>
    </table>
  </app-page>
</div>
<ng-template #loading>
  <app-data-placeholder></app-data-placeholder>
</ng-template>