<div class="container">
  <app-page>
    <div *ngIf="vmId | zeroPad as vmName">
      <div *ngIf="navigationData$ | async as navigationData">
        <app-navigation [navigationData]="navigationData.concat({ name: 'VM-' + vmName })"></app-navigation>
      </div>
      <div *ngIf="team$ | async as team">
        <table class="info main">
          <tr>
            <td>Team</td>
            <td>{{ team.name }}</td>
          </tr>
          <tr>
            <td>People connected to this VM</td>
            <td>
              <i>You</i>
            </td>
          </tr>
        </table>
      </div>
      <div class="vm-screen"></div>
    </div>
  </app-page>
</div>
<ng-template #loading>
  <app-data-placeholder></app-data-placeholder>
</ng-template>