mat-icon {
  padding-top: 2px;
}
span {
  display: block;
}
.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 14px 40px;
  border: 1px solid #fff;
  box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
  border-radius: 6px;
  outline: none;
}
.item:hover {
  border: 1px solid #ff6647;
}
.col-i {
  flex: 0.5;
}
.col-title {
  flex: 2;
}
.col-publication, .col-due {
  flex: 1;
}
.title {
  font-size: 1.15em;
}