.item {
  display: flex;
  align-items: center;
  padding: 20px 20px 10px 40px;
  border-bottom: 1px solid #ddd;
}
.col-name {
  flex: 4;
}
.col-vcpu, .col-disk, .col-ram, .col-online, .col-actions {
  flex: 1.8;
}
.col-actions mat-icon {
  cursor: pointer;
  margin: 0 10px;
}
.col-actions mat-icon.owners {
  color: #ff6647;
}
.col-actions mat-icon.delete {
  color: #333;
}