<div class="container" *ngIf="{ course: course$ | async, homework: homework$ | async} as info">
  <ng-container *ngIf="info.course && info.homework">
    <app-page>
      <app-navigation [navigationData]="navigationData$ | async"></app-navigation>
      <h1>{{ info.homework.title }}</h1>
      <div class="info">
        <div class="info-dates">
          <p>
            Published: <b>{{ info.homework.publicationDate.toLocaleString() }}</b><br />
            Due: <b>{{ info.homework.dueDate.toLocaleString() }}</b>
          </p>
        </div>
        <div class="info-text" *ngIf="homeworkText$ | async as homeworkText">
          <a [href]="homeworkText" [download]="info.homework.title"><mat-icon>assignment</mat-icon> Download the assignment text</a>
        </div>
      </div>
    </app-page>
  </ng-container>
</div>
<ng-template #loading>
  <app-data-placeholder></app-data-placeholder>
</ng-template>