table {
  width: 100%;
}
h1 span {
  font-weight: normal;
}
.team-name {
  padding: 10px 0;
}
.connect-column {
  text-align: center;
}
.edit-limits {
  cursor: pointer;
  font-size: 0.9em;
  text-decoration: underline;
  outline: none;
}
.online {
  position: relative;
  top: 5px;
  font-size: 0.85em;
  margin-left: 2px;
  color: #33c322;
}
.connect {
  cursor: pointer;
  color: #ff6647;
  outline: none;
}
.no-padding {
  padding: 0 !important;
}