mat-toolbar {
  padding: 0 40px;
}
mat-icon {
  cursor: pointer;
  vertical-align: middle;
}
.mat-toolbar.mat-primary {
  background: #232323;
  color: #fff;
}
.logo {
  cursor: pointer;
  width: 162px;
  height: 20px;
  background-image: url('/assets/img/logo.png');
  background-size: contain;
  outline: none;
}
.header-left, .header-right {
  width: calc(50% - 81px);
}
.float {
  float: right;
}
.float button:not(:last-child) {
  padding-right: 2em;
}