p {
  font-size: 18px;
}
.info {
  display: flex;
  align-items: center;
}
.profile-pic {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
.profile-pic img {
  width: 22px;
  height: 22px;
}
.info p {
  flex: 1;
}