html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  color: #ff6647;
}
.space-break {
  height: 5vh;
}
.disable-click {
  pointer-events: none;
  cursor: default;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #fff;
}
.big-logo {
  cursor: pointer;
  width: 28vh;
  height: 17vh;
  margin-left: calc(200px - 14vh);
  background-image: url('/assets/img/logo_big.png');
  background-size: contain;
  outline: none;
}