@import url('https://fonts.googleapis.com/css?family=Catamaran:300,500,700');

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Catamaran'
);
@include mat-core($custom-typography);

mat-icon {
  padding-top: 6px;
  vertical-align: text-top;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Catamaran", "Helvetica Neue", sans-serif !important;
}
a {
  color: #ff6647;
}
.copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.3;
  font-size: 0.85em;
  text-align: center;
}
.space-break {
  height: 5vh;
}
.fill {
  flex: 1 1 auto;
}
.disable-click {
  pointer-events: none;
  cursor: default;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #fff;
}
.mat-progress-spinner.basic circle, .mat-spinner.basic circle {
  stroke: #232323;
}
.mat-flat-button {
  width: 120px;
}
.mat-flat-button[color="brand"] {
  background: #ff6647;
  color: #fff;
}
mat-form-field.half {
  width: 47%;
}
mat-form-field.third {
  width: 29.3%;
}
mat-form-field.fraction:not(.first) {
  margin-left: 6%;
}
mat-form-field {
  margin: 6px 0;
}
form mat-form-field, form input {
  width: 100%;
}
.error-box:not(:empty) {
  padding: 10px;
  color: #da3125;
  background: #f8d7da;
  border-radius: 8px;
  border: 1px solid #f5c6cb;
  margin-bottom: 30px;
}
.big-logo {
  cursor: pointer;
  width: 28vh;
  height: 17vh;
  margin-left: calc(200px - 14vh);
  background-image: url('/assets/img/logo_big.png');
  background-size: contain;
  outline: none;
}
.controls {
  margin-top: 3em;
  text-align: center;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background: #ffaa99;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background: #ff6647;
}