@import url('https://fonts.googleapis.com/css?family=Catamaran:300,500,700');

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Catamaran'
);
@include mat-core($custom-typography);

mat-icon {
  padding-top: 6px;
  vertical-align: text-top;
}
mat-icon.align {
  padding-top: 0;
}
mat-icon.danger {
  color: #da3125;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Catamaran", sans-serif !important;
}
a {
  cursor: pointer;
  color: #ff6647;
  text-decoration: underline;
}
a::selection {
  color: #fff;
}
.copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0.3;
  font-size: 0.85em;
  text-align: center;
}
.space-break {
  height: 5vh;
}
.flex {
  display: flex;
}
.flex-tile {
  margin-bottom: 2em;
}
.flex .tile {
  height: 100%;
  margin-bottom: 0 !important;
}
.flex > div:not(:first-child) {
  margin-left: 25px;
}
.fl-1 {
  flex: 1;
}
.fill {
  flex: 1 1 auto;
}
.hidden {
  display: none;
}
.disable-click {
  pointer-events: none;
  cursor: default;
}
.bold-text {
  font-weight: 700;
}
.light-text {
  color: #888;
  font-weight: 300;
}
p.list-empty {
  color: #777;
  text-align: center;
  font-style: italic;
  letter-spacing: 1px;
}
.tile-desc {
  font-size: 0.8em;
  font-style: italic;
}
.team-provisional {
  opacity: 0.5;
}
.team-provisional::after {
  content: ' \1F552';
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #ff6647;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #fff;
}
.mat-progress-spinner.basic circle, .mat-spinner.basic circle {
  stroke: #232323;
}
.mat-flat-button {
  min-width: 120px !important;
}
.mat-flat-button[color="brand"] {
  background: #ff6647;
  color: #fff;
}
.mat-flat-button[color="danger"] {
  background: #da3125;
  color: #fff;
}
::selection {
  background: #ffaa99;
}
::-moz-selection {
  background: #ffaa99;
}
div.fraction {
  display: inline-block;
}
mat-form-field.half, div.half {
  width: 47%;
}
mat-form-field.third, div.third {
  width: 29.3%;
}
mat-form-field.twothirds, div.twothirds {
  width: 64.6%;
}
mat-form-field.fraction:not(.first), div.fraction:not(.first) {
  margin-left: 6%;
}
mat-form-field {
  margin: 6px 0;
}
form mat-form-field, form input {
  width: 100%;
}
form .input-container {
  margin-bottom: 60px;
}
form .actions {
  float: right;
  display: flex;
  align-items: end;
}
form .actions .mat-flat-button {
  margin: 0 10px;
}
.bar {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 2px;
  height: 1em;
  margin: 0 10px;
  background: #000;
}
.error-box:not(:empty) {
  padding: 10px;
  color: #da3125;
  background: #f8d7da;
  border-radius: 8px;
  border: 1px solid #f5c6cb;
  margin-bottom: 30px;
}
.big-logo {
  cursor: pointer;
  width: 28vh;
  height: 17vh;
  margin-left: calc(200px - 14vh);
  background-image: url('/assets/img/logo_big.png');
  background-size: contain;
  outline: none;
}
.controls {
  margin-top: 3em;
  text-align: center;
}
.selectable-table-row td .profile-pic {
  margin-top: 5px;
  width: 25px;
  height: 25px;
}
.profile-pic {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  border-radius: 50%;
}
.profile-pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background: #ffaa99;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background: #ff6647;
}
.professor-list {
  display: flex;
  align-items: center;
}
.professor {
  display: inline-block;
  margin-right: 45px;
}
table.info {
  width: 100%;
  font-size: 0.9em;
}
table.info.main {
  margin-bottom: 40px;
}
table.info td {
  padding-bottom: 0.5em;
}
table.info td:first-child {
  width: 25%;
}
.superinput {
  display: flex;
  margin-bottom: 15px;
}
.superinput .input {
  flex: 2;
}
.superinput .label {
  flex: 1;
  margin: 10px 0 0 20px;
  opacity: 0.8;
}
.superinput .label span {
  display: block;
}
.superinput .label span:nth-child(1) {
  color: #3f51b5;
  font-size: 0.65em;
  text-transform: uppercase;
}
.vm-screen {
  display: block;
  width: 960px;
  height: 600px;
  background-image: url('/assets/img/vm.png');
  background-size: contain;
}
mat-form-field .filename {
  position: relative;
  top: 6px;
}