@import url('https://fonts.googleapis.com/css?family=Catamaran:300,500,700');

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Catamaran'
);
@include mat-core($custom-typography);

mat-icon {
  padding-top: 6px;
  vertical-align: text-top;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Catamaran", "Helvetica Neue", sans-serif !important;
}
a {
  color: #ff6647;
}
.copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.3;
  font-size: 0.85em;
  text-align: center;
}
.space-break {
  height: 5vh;
}
.fill {
  flex: 1 1 auto;
}
.disable-click {
  pointer-events: none;
  cursor: default;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #fff;
}
.big-logo {
  cursor: pointer;
  width: 28vh;
  height: 17vh;
  margin-left: calc(200px - 14vh);
  background-image: url('/assets/img/logo_big.png');
  background-size: contain;
  outline: none;
}
.controls {
  margin-top: 3em;
  text-align: center;
}