mat-icon {
  padding-top: 0;
}
.dialog {
  width: 720px;
}
.actions {
  float: right;
  margin-top: 20px;
}
.actions button {
  margin: 0 10px;
}
.superinput {
  display: flex;
}
.superinput .input {
  flex: 2;
}
.superinput .label {
  flex: 1;
  margin: 10px 0 0 20px;
}
.superinput .label span {
  display: block;
}
.superinput .label span:nth-child(1) {
  font-size: 0.65em;
  text-transform: uppercase;
}