<app-tile text="VMs" icon="dns">
  <div *ngIf="!teamId">
    This section will only be available once you are part of a complete team (that is, whose proposal has been accepted by all members).
  </div>
  <div *ngIf="teamId">
    <div *ngIf="vms$ | async as vms">
      <app-vm-list [vms]="vms" (vmAddOwners)="addVmOwners($event)" (vmDelete)="deleteVm($event)"></app-vm-list>
      <div class="controls">
        <button mat-flat-button color="primary" [routerLink]="'/student/course/' + courseCode + '/vms/new'">New VM</button>
      </div>
    </div>
  </div>
</app-tile>