<div class="container">
    <app-page>
      <app-navigation [navigationData]="navigationData"></app-navigation>
      <h1>New VM</h1>
      <div *ngIf="vmModel">
        <div *ngIf="!vmModel.id">
          <p class="error-box">
            Configuration error!<br />No VM model was specified for this course. Therefore, VMs cannot be created at the moment. Please contact the course professor(s).
          </p>
          <div class="controls">
            <button mat-flat-button [routerLink]="'/student/course/' + courseCode">Go back</button>
          </div>
        </div>
        <div *ngIf="vmModel.id">
          <p>Enter the required VM information in the form below. Note that the following configuration parameters may be subject to limitations established by the course professors. By creating a new VM, you are automatically promoted to <i>owner</i> of the VM itself.</p>
          <div class="info">
            <app-vm-form [model]="vmModel" [cancelLink]="'/student/course/' + courseCode" (update)="saveVm($event.data)"></app-vm-form>
          </div>
        </div>
      </div>
    </app-page>
  </div>
  <ng-template #loading>
    <app-data-placeholder></app-data-placeholder>
  </ng-template>