table.info {
  width: 100%;
  font-size: 0.9em;
}
table.info.main {
  margin-bottom: 40px;
}
table.info td {
  padding-bottom: 0.5em;
}
table.info td:first-child {
  width: 25%;
}
.invitations {
  margin-top: 2.2em;
}