<div class="container" *ngIf="course$ | async as course; else loading">
  <app-page>
    <app-navigation [navigationData]="navigationData"></app-navigation>
    <div class="head">
      <div class="title">
        <h1>
          {{ course.code + ' - ' + course.name }}&nbsp;
        </h1>
      </div>
    </div>
    <table class="info main">
      <tr>
        <td>Professors</td>
        <td>
          <div class="professor-list" *ngIf="professors$ | async as professors">
            <div *ngFor="let professor of professors" class="professor">
              <app-user-tag [firstName]="professor.firstName" [lastName]="professor.lastName.toUpperCase()" [picture]="professor.picturePath"></app-user-tag>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <app-tile text="Your team" icon="account_tree" *ngIf="teams$ | async as teams">
      <div *ngIf="team" class="team">
        <div class="team-name">
          <h3>{{ team.name }}</h3>
        </div>
        <div class="team-members">
          <div *ngFor="let member of team.members" class="team-member">
            <app-user-tag [firstName]="member.firstName" [lastName]="member.lastName.toUpperCase()" [picture]="member.picturePath"></app-user-tag>
          </div>
        </div>
      </div>
      <div *ngIf="!team">
        <div *ngIf="acceptedTeam">
          <div class="team">
            <div class="team-name">
              <h3>{{ acceptedTeam.name }}</h3>
              <span class="provisional">provisional</span>
            </div>
            <div class="team-members">
              <div *ngFor="let member of acceptedTeam.members" class="team-member">
                <mat-icon [class.accepted]="isAccepted(acceptedTeam)">{{ isAccepted(acceptedTeam) ? 'done_all' : 'schedule' }}</mat-icon>
                <app-user-tag [firstName]="member.firstName" [lastName]="member.lastName.toUpperCase()" [picture]="member.picturePath"></app-user-tag>
              </div>
            </div>
            <div class="team-expiration">
              <span>proposal expires in</span>
              <span class="expiration-time">{{ proposalExpiration }}</span>
            </div>
          </div>
        </div>
        <div *ngIf="!acceptedTeam">
          You haven't joined any team yet. Have a look at the invitations below, or consider <a [routerLink]="'/student/course/' + course.code + '/team/new'">submitting a team proposal</a>.
        </div>
        <div class="invitations">
          <h3>Invitations</h3>
          <app-team-invitation-list [invitations]="activeTeamInvitations" (invitationAccept)="teamInvitationAccepted($event)" (invitationDecline)="teamInvitationDeclined($event)"></app-team-invitation-list>
        </div>
        <div class="invitations" *ngIf="inactiveTeamInvitations.length">
          <h3>Old invitations</h3>
          <app-team-invitation-list [invitations]="inactiveTeamInvitations"></app-team-invitation-list>
        </div>
      </div>
    </app-tile>
  </app-page>
</div>
<ng-template #loading>
  <app-data-placeholder></app-data-placeholder>
</ng-template>