<div class="container" *ngIf="course$ | async as course; else loading">
  <app-page>
    <app-navigation [navigationData]="navigationData"></app-navigation>
    <div class="head">
      <div class="title">
        <h1>
          {{ course.code + ' - ' + course.name }}&nbsp;
        </h1>
      </div>
    </div>
    <table class="info main">
      <tr>
        <td>Professors</td>
        <td>
          <div class="professor-list" *ngIf="professors$ | async as professors">
            <div *ngFor="let professor of professors" class="professor">
              <app-user-tag [firstName]="professor.firstName" [lastName]="professor.lastName.toUpperCase()" [picture]="professor.picturePath"></app-user-tag>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <app-tile title="Your team" icon="account_tree">
      You haven't joined any team yet. Have a look at the invitations below, or consider <a [routerLink]="'/student/course/' + course.code + '/team/new'">submitting a team proposal</a>.
      <div class="invitations">
        <h3>Invitations</h3>
        <app-team-invitation-list [invitations]="teamInvitations"></app-team-invitation-list>
      </div>
    </app-tile>
  </app-page>
</div>
<ng-template #loading>
  <app-data-placeholder></app-data-placeholder>
</ng-template>