<div class="container" *ngIf="course$ | async as course; else loading">
  <app-page>
    <app-navigation [navigationData]="navigationData$ | async"></app-navigation>
    <div class="head">
      <div class="title">
        <h1>
          {{ course.code + ' - ' + course.name }}&nbsp;
        </h1>
      </div>
    </div>
    <table class="info main">
      <tr>
        <td>Professors</td>
        <td>
          <div class="professor-list" *ngIf="professors$ | async as professors">
            <div *ngFor="let professor of professors" class="professor">
              <app-user-tag [firstName]="professor.firstName" [lastName]="professor.lastName.toUpperCase()" [picture]="professor.picturePath"></app-user-tag>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="content" [class.course-disabled]="!course.enabled">
      <div *ngIf="team">
        <app-tile text="Homeworks" [textLink]="'/student/course/' + courseCode + '/homeworks'" icon="perm_media">
            
        </app-tile>
        <app-tile text="VMs" [textLink]="'/student/course/' + courseCode + '/vms'" icon="dns">
          <app-student-vms-detail [course]="courseCode" [team]="team"></app-student-vms-detail>
        </app-tile>
      </div>
      <app-student-course-team-detail [course]="courseCode" (completeTeam)="joinedTeam($event)"></app-student-course-team-detail>
    </div>
  </app-page>
</div>
<ng-template #loading>
  <app-data-placeholder></app-data-placeholder>
</ng-template>