<div class="container">
  <div *ngIf="resourcesAvailable">
    <form [formGroup]="form">
      <div class="input-container">
        <mat-form-field class="fraction half first" appearance="legacy">
          <mat-label>VM model</mat-label>
          <input matInput formControlName="model" required>
        </mat-form-field>
        <div class="fraction half">
          <div class="superinput">
            <div class="input">
              <mat-form-field appearance="legacy">
                <mat-label>vCPU</mat-label>
                <mat-icon matSuffix>memory</mat-icon>
                <input matInput placeholder="1" formControlName="vcpu" required>
                <mat-error>{{ getVcpuErrorMessage() }}</mat-error>
              </mat-form-field>
            </div>
            <div class="label">
              <span>maximum available</span>
              <span>{{ resourcesAvailable.vcpus }} vCPU</span>
            </div>
          </div>
        </div>
        <div class="fraction half first">
          <div class="superinput">
            <div class="input">
              <mat-form-field appearance="legacy">
                <mat-label>Disk space (GB)</mat-label>
                <mat-icon matSuffix>storage</mat-icon>
                <input matInput placeholder="32" formControlName="disk" required>
                <mat-error>{{ getDiskErrorMessage() }}</mat-error>
              </mat-form-field>
            </div>
            <div class="label">
              <span>maximum available</span>
              <span>{{ resourcesAvailable.diskSpace }} GB</span>
            </div>
          </div>
        </div>
        <div class="fraction half">
          <div class="superinput">
            <div class="input">
              <mat-form-field appearance="legacy">
                <mat-label>RAM (MB)</mat-label>
                <mat-icon matSuffix>drag_indicator</mat-icon>
                <input matInput placeholder="2048" formControlName="ram" required>
                <mat-error>{{ getRamErrorMessage() }}</mat-error>
              </mat-form-field>
            </div>
            <div class="label">
              <span>maximum available</span>
              <span>{{ resourcesAvailable.ram }} MB</span>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <button mat-flat-button [routerLink]="cancelButtonLink">Cancel</button>
        <app-async-button (aclick)="saveButtonClicked()" [loading]="locked">Save</app-async-button>
      </div>
    </form>
  </div>
</div>